<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Background</h2>
        <p>I have worked to develop education platform online at Domino for three years. 
        Along with two friends, I started up an online brokerage by artisans to customers. 
        I have worked as a consultant in Domino for seven years. 
        In a newspaper I worked on the development of management features and presentation of news on Escenic cms.</p>
      
    </div>
    <div class="col-md-4">
        <h2>Knowledge</h2>
        <p>Web Development, CRM system, integration, workflow, messaging and document management systems. 
        System development, feasibility studies and analysis, documentation and testing. Particular expertise in Lotus Notes. 
Basic knowledge of apache tomcat, jsp, JSTL.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Future</h2>
        <p>Looking for challenges in web development.</p>
     
    </div>
</div>