<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Fluxnode</h1>
            <p>I create responsive and adaptive web sites, games & applications. I have a long experience in developing web applications in a variety of environments and are passionate about new technologies.</p>
            
          
        </div>
    </div>
 
    <div class="container">
        <% include content %>
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
</body>
</html>