<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">Memory</div>
            <div class="panel-body">
      
           <head>
		<link rel='stylesheet' href='/stylesheets/stylesheet.css'>
		</head>

			
<div id="Base">
			<div class="GuessBox">
				<div class="Guess" id="G0">
					<div class="Image" id="ImgG0"></div>
				</div>
				<div class="Guess" id="G1">
					<div class="Image" id="ImgG1"></div>
				</div>
				<div class="Guess" id="G2">
					<div class="Image" id="ImgG2"></div>
				</div>
				<div class="Guess" id="G3">
					<div class="Image" id="ImgG3"></div>
				</div>
				<div class="Guess" id="G4">
					<div class="Image" id="ImgG4"></div>
				</div>
				<div class="Guess" id="G5">
					<div class="Image" id="ImgG5"></div>
				</div>
				<div class="Guess" id="G6">
					<div class="Image" id="ImgG6"></div>
				</div>
				<div class="Guess" id="G7">
					<div class="Image" id="ImgG7"></div>
				</div>
				<div class="Guess" id="G8">
					<div class="Image" id="ImgG8"></div>
				</div>
				<div class="Guess" id="G9">
					<div class="Image" id="ImgG9"></div>
				</div>
				<div class="Guess" id="G10">
					<div class="Image" id="ImgG10"></div>
				</div>
				<div class="Guess" id="G11">
					<div class="Image" id="ImgG11"></div>
				</div>
				<div class="Guess" id="G12">
					<div class="Image" id="ImgG12"></div>
				</div>
				<div class="Guess" id="G13">
					<div class="Image" id="ImgG13"></div>
				</div>
				<div class="Guess" id="G14">
					<div class="Image" id="ImgG14"></div>
				</div>
				<div class="Guess" id="G15">
					<div class="Image" id="ImgG15"></div>
				</div>
		</div>
	</div>


			
			<div class="gameinfo">
				<div id="points"></div>
				<div id="status"></div>
			</div>
			<div id="restartbutton">
			Start
			</div>

					
		<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/button_mrp.js"></script>
		<script type="text/javascript">
        window.onload = function () {
            Memory.setVar();
            Memory.startArray();
        };
    </script>
	  
                    
                    
                    
                    
            </div>
        </div>
 

    </div>
    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script type="text/javascript">
        $(document).ready(function() {
            $('#memory').addClass("active");
        });
    </script>
</body>
</html>