@media screen and (max-width: 534px) {
div.Guess {
	float: left;
	margin: 3px;
	/*padding: 2px;*/
	height: 34px;
	/*height: 24%;*/
	/*width: 74px;*/
	width: 21%;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}
div.Image {
	float: left;
	/*height: 74px;*/
	height: 100%;
	/*width: 74px;*/
	width: 100%;
	/*border-color: black;*/
	border-width: 2px;
	padding: 2px;
	border-style: solid;
	background-image: url('../dist/molnfrontloggaTile2.gif');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}
div.gameinfo {

	width: 60%;
	float: left;
	margin: 3px;
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
    padding: 2px;
    border-width: 2px;
    color: #000000;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    text-align:center;
    
}
div#restartbutton {
	width: 26%;
	float: left;
	margin: 3px;
    background-color: #CC0000;
    border-radius: 5px 5px 5px 5px;
    font-family: arial,sans-serif;
    font-size: 12px;
   	text-align:center;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 28px;
    padding: 2px;
    
}
}

@media screen and (min-width: 800px) {
div.Guess {
	float: left;
	margin: 3px;
	/*padding: 2px;*/
	height: 74px;
	/*height: 24%;*/
	/*width: 74px;*/
	width: 24%;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}
div.Image {
	float: left;
	/*height: 74px;*/
	height: 100%;
	/*width: 74px;*/
	width: 100%;
	/*border-color: black;*/
	border-width: 2px;
	padding: 2px;
	border-style: solid;
	background-color:#b0c4de;

}



div.gameinfo {

	width: 60%;
	float: left;
	margin: 3px;
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
    padding: 2px;
    border-width: 2px;
    color: #000000;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 58px;
    text-align:center;
    
}
div#restartbutton {
	width: 15%;
	float: left;
	margin: 3px;
    background-color: #CC0000;
    border-radius: 5px 5px 5px 5px;
   	text-align:center;
    color: #FFFFFF;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 58px;
    padding: 2px;
    
}
}	
div.points {

}
div.status {
	
}